body{
    color: black;
    padding: 1px;
    margin: 0px;
    background: url('https://source.unsplash.com/random/?white') center;
    width: 100%;
    background-size: cover;
}
header{
    display: block;
    color: white;
    position: absolute;
    width: 100%;
    background-color: grey;
    height: 8em;
    border-radius: 30px;
    
}
footer{
    background-color: grey;
    border: 3px black;
    position: relative;
    display: flex;
    height: 3em;
    bottom: 0px;
    /* top:25em; */
    border-radius: 30px;
}
.left{
    border:solid white 5px;
    margin-left: 2px;
    display: inline-block;
    border-radius : 22px;
    position: absolute;
    left: 13px;
    font-size: 1.5em;
    font-family: "Lobster",cursive;
    padding: 5px;
    text-align: center;
    top: 2px;
    width: 5%;
    height: 80%;
}
.mid{
    display: block;
    width: 75%;
    margin: 2px auto ;
    position: relative;
    top: 1.4em;
}
.right{
    border: 6px solid hsl(0, 33%, 99%);
    margin-right: 2px;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 2.8em; 
    padding: 3px;
    width :auto;
}
.right input{
    width: 75%;
}
.navbar{
    display :inline-block;
    color: wheat;
}
.navbar li{
    display :inline;
    text-decoration: none;
    color: white;
    padding: 14px 13px;
    font-size: 2.6em;
    font-family:   'Times New Roman', serif;
    font: bold;
}
.navbar li a{
    text-decoration: none;
    color: white;

}
.navbar li a:hover,.navbar li a.active{
    display :inline;
    color: rgb(190, 190, 41);
    border: 1px solid maroon;
   
}
.left img{
    width :85%;
    height: 70%;
    border-radius: 50%;

}